#Public repo - do not add paths
lisasMac_setpaths.py
jamesHPC_setpaths.py
lisaHPC_setpaths.py
setpaths.py.mdr

#james' current settings
setparams_james.py

# LAYER files
TP_EPA_LAYER=*
TP_*

#Any conda environments
env_*

run_make_all.csh
setpaths.py
makemovie.csh
visitlog.py
visit*.session
visit*.gui
.DS_Store
submit.csh
stdout*
stderr*
core.*
*_error
*_out
multiplot.py
setpaths_tryfunction.py 
__pycache__*
*.pyc
