#Public repo - do not add paths
run_make_all.csh
setpaths.py
makemovie.csh
visitlog.py
visit*.session
visit*.gui
.DS_Store
submit.csh
stdout*
stderr*
core.*
*_error
*_out
multiplot.py
setpaths_tryfunction.py 
__pycache__*
